:root {
  --primary: rgb(34, 38, 68);
  --white: #fff;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --header-height: 60px;
  --max-width: 1024px;
  --radius: 0.4rem;
  --font-ubuntu: "arial";
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  box-shadow: 0 1px 1px var(--box-shadow);
  z-index: 10;
}

.header__container {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

/*.header__logo {
  /* display: inline-flex;
  align-self: center;
  align-items: center;
  text-decoration: none;
  margin-left: 50px; 
}*/

.header__buttons,
.header__search {
  display: flex;
  background-color: #f6f6f6;
}

.header__input {
  background-color: #f6f6f6;
}

.search__btn {
  background: #9546ff;
  border: none;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  border-radius: 0px 9px 9px 0px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.btn {
  background-color: #9546ff;
  color: var(--white);
  font-size: 75%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  font-family: "arial";
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav__link {
  text-decoration: none;
  color: var(--black);
}

.nav__link--boder {
  background-color: transparent;
  color: var(--black);
  font-size: 75%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  font-family: "arial";
  border-width: 1.9px;
  border-style: solid;
  border-color: #b98df1;
}
.nav__link--solido {
  background-color: #9546ff;
  color: var(--white);
}

.btn__01 {
  background-color: transparent;
  color: var(--black);
  font-size: 75%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 10px;
  font-family: "arial";
  border-width: 1.9px;
  border-style: solid;
  border-color: #b98df1;
}

.btn:hover {
  color: white; /*color de pagina.*/
  background: #7930df;
}

.btn__00 .btn--link {
  text-decoration: none;
  text-align: center;
  padding: 8px;
}

.btn--link:hover {
  background: var(--bg-hover);
  border-color: var(--bg-hover);
}

.hero {
  background-color: #ead9ff;
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.parte,
.parte2 {
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.parte3 {
  background-color: #ead9ff;
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.parte4 {
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.parte5 {
  background-color: var(--white);
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.parte6 {
  background-color: #d3b8f5;
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.parte7,
.parte8 {
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.parte2 img {
  height: 446px;
  width: 678px;
}

.parte2 h1,
.parte3 h1,
.parte5 h1,
.parte6 h1,
.parte7 h1,
.parte8 h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 64px;
}

.parte2 .h {
  font-family: "Ubuntu", sans-serif;
  font-size: 30px;
}

.parte5 h1 {
  font-size: 32px;
}

.parte6 h1 {
  font-size: 35px;
}

.parte6 p {
  font-size: 30px;
}

.pricing-container {
  display: flex;
  justify-content: space-between;
  margin: 0 -16px;
}

.pricing-card {
  width: calc(33.33% - 32px);
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 32px;
  margin: 16px;
  text-align: center;
}

.pricing-title {
  font-size: 2rem;
  margin-bottom: 16px;
}

.pricing-price {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 32px;
}

.pricing-features {
  margin-bottom: 32px;
  list-style: none;
}

.pricing-features li {
  margin-bottom: 8px;
}

.pricing-button {
  display: block;
  width: 100%;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 12px;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.2s ease;
}

.pricing-button:hover {
  background-color: #e1e1e1;
}

.card {
  width: calc(33.33% - 32px);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 32px;
  margin: 16px;
}

.div .card {
  display: flex;
  justify-content: space-between;
  margin: 0 -16px;
}

.contenedor_tarjetas {
  display: flex;
}
