:root {
  --primary: rgb(34, 38, 68);
  --white: #fff;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --header-height: 60px;
  --max-width: 1024px;
  --radius: 0.4rem;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ead9ff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  box-shadow: 0 1px 1px var(--box-shadow);
  z-index: 10;
}

.header__container {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: var(--header-height);
}

.header__logo {
  display: inline-flex;
  align-self: center;
  align-items: center;
  text-decoration: none;
}

.header__search {
  display: flex;
  align-items: center;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.btn {
  background-color: #133d63;
  color: white;
  font-size: 75%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-right: 40px;
  font-family: "arial";
}

.btn:hover {
  color: var(--bg-primary);
  background: var(--bg-white);
  border: 1px solid;
  border-color: var(--bg-primary);
}

.btn--link {
  background: var(--white);
  border-color: var(--white);
  text-decoration: none;
  text-align: center;
  color: var(--color-gray);
  padding: 8px;
  border-radius: var(--radius);
}

.btn--link:hover {
  background: var(--bg-hover);
  border-color: var(--bg-hover);
}

.hero {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hero h1 {
  font-family: "arial";
  font-weight: bolder;
  font-size: 64px;
}

.hero p {
  font-size: 30px;
  text-align: center;
  font-family: "arial";
}

.parte2 {
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* Cambia el color a tu preferencia */
}

.parte3 {
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #dfcaf9; /* Cambia el color a tu preferencia */
}

.parte4 {
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* Cambia el color a tu preferencia */
}

.parte5 {
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* Cambia el color a tu preferencia */
}
.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.parte6 {
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #c69efb; /* Cambia el color a tu preferencia */
}

.parte7 {
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6eaf5; /* Cambia el color a tu preferencia */
}

.parte8 {
  background-size: cover;
  background-position: center;
  height: 730px;
  align-items: center;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #ffffff; /* Cambia el color a tu preferencia */
}
