:root {
  --primary: rgb(34 38 68);
  --white: #fff;
  --box-shadow: rgba(0, 0, 0, 0.1);
  --header-height: 60px;
  --max-width: 1024px;
  --radius: 0.4rem;
  --font-open-sans: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ead9ff;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: var(--white);
  box-shadow: 0 1px 1px var(--box-shadow);
  z-index: 10;
}

.header__container {
  max-width: var(--max-width);
  padding: 0 1rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: var(--header-height);
}

.header__hamburger {
  background-color: var(--bg-white);
  cursor: pointer;
  border: none;
}

.header__logo {
  display: inline-flex;
  align-self: center;
  align-items: center;
  text-decoration: none;
}

.header__search {
  display: flex;
  align-items: center;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
  outline: none;
}

.btn {
  background-color: #133d63;
  color: white;
  font-size: 75%;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.btn:hover {
  color: var(--bg-primary);
  background: var(--bg-white);
  border: 1px solid;
  border-color: var(--bg-primary);
}

.btn--link {
  background: var(--white);
  border-color: var(--white);
  text-decoration: none;
  text-align: center;
  color: var(--color-gray);
  padding: 8px;
  border-radius: var(--radius);
}

.btn--link:hover {
  background: var(--bg-hover);
  border-color: var(--bg-hover);
}

.btn-md {
  padding: var(--size-08);
  font-size: var(--size-09);
}

.btn-lg {
  padding: var(--size-09);
  font-size: var(--size-1-4);
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero h1 {
  font-family: "Ubuntu";
  font-weight: bolder;
  font-size: 64px;
}

.hero p {
  font-size: 30px;
  text-align: center;
}
